main {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sub_main_div {
  width: 100%;
  display: grid;
  margin: auto;
  margin-bottom: 30px;
  background-color: gainsboro;
  padding: 10px;
  min-height: 60vh;
}
.showroom {
  grid-template-columns: 65% 35%;
  gap: 1em;
  height: auto;
}
.first_element {
  background-color: gainsboro;
  height: auto;
}
#first_element_img {
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: auto;
}
.second_element {
  overflow-wrap: break-word;
  background-color: transparent;
  height: 100%;
}
.second_element > h2 {
  line-height: 30px;
  font-size: 24px;
  overflow-wrap: break-word;
  font-weight: 780;
  color: black;
  padding: 10px;
  background-color: transparent;
  margin-right: 15px;
}
.second_element > hr {
  background-color: #b40909;
  height: 5px;
  width: 80px;
  margin-left: 10px;
}
.second_element > p {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 10px;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 25px;
  font-weight: 550;
  background-color: transparent;
}

.section2 {
  grid-template-columns: 30% 40% 30%;
  gap: 1em;
  height: auto;
  background-color: transparent !important;
}
#first_element_img2 {
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: auto;
}
.section2 > .first_element {
  text-align: center;
  min-height: 60vh !important;
  background-color: transparent !important;
}
.section2 > .second_element {
  padding-left: 10px;
}
.second_element_h2 {
  padding: 0 !important;
}
.second_element_p {
  overflow-wrap: break-word;
  font-size: 10px;
  line-height: 25px;
  font-weight: 100 !important;
  background-color: transparent;
  margin-top: 20px !important;
  margin-left: 0 !important;
}
.second_element_p > a {
  text-decoration: none;
  color: black;
}
.second_element_a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  color: black;
  word-spacing: 3px;
}
.second_style {
  margin-left: 0 !important;
}
/* Third Sub-main div styling below */
.section3 {
  grid-template-columns: 40% 60%;
  gap: 1em;
  height: auto;
  background-color: transparent !important;
}
.section3 > .first_element > img {
  border-radius: 10px;
  box-shadow: none !important;
}
.section3_second_element {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section3_subs {
  border: 1px solid white;
  background-color: white;
  margin-bottom: 1em;
  padding: 35px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
