main {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sub_main_div {
  width: 99%;
  display: grid;
  margin: auto;
}
.showroom {
  grid-template-columns: 65% 35%;
  gap: 1em;
  height: auto;
}
#first_element_img {
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: auto;
}
.second_element {
  overflow-wrap: break-word;
}
.second_element > h2 {
  line-height: 30px;
  font-size: 24px;
  overflow-wrap: break-word;
  font-weight: 780;
  color: black;
  padding: 10px;
}
.second_element > hr {
  background-color: #b40909;
  height: 5px;
  width: 100px;
  margin-left: 10px;
}
.second_element > p {
  height: 5px;
  margin-left: 10px;
  margin-top: 20px;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 28px;
  font-weight: 550;
}

.section2 {
  grid-template-columns: 30% 40% 30%;
  gap: 1em;
  height: auto;
}
